name: Build and push docker image with TEMP-suffix
on: workflow_dispatch
jobs:
  build_and_push:
    permissions:
      contents: 'write'
      id-token: 'write'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: 'web-app/package-lock.json'

      - name: 'Backend: Build maven artifacts'
        run: mvn -f ./api/pom.xml -B package

      - name: 'Frontend: Install dependencies'
        run: npm ci --legacy-peer-deps --prefix web-app

      - name: 'Frontend: Build assets'
        run: npm run build --prefix web-app
      
      - name: Create image tag
        run: echo "IMAGE_TAG=$(TZ=\"Europe/Oslo\" date +%Y.%m.%d_%H.%M)-$(git rev-parse --short=12 HEAD)-temp" >> $GITHUB_ENV

      - name: Build and push
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          tag: ${{ env.IMAGE_TAG }}
          team: poao
          image_suffix: 'temp'


      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          name: Release kafka-manager-temp
          tag_name: ${{ env.IMAGE_TAG }}
          prerelease: true
